<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Mascota</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Añadir una Nueva Mascota</h1>
        <form action="#" th:action="@{/addPet}" th:object="${pet}" method="post" class="mt-4">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Ingresa el nombre de la mascota" required>
            </div>
            <div class="form-group">
                <label for="fechaNac">Fecha de Nacimiento:</label>
                <input type="date" id="fechaNac" th:field="*{fechaNac}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="raza">Raza:</label>
                <input type="text" id="raza" th:field="*{raza}" class="form-control" placeholder="Ingresa la raza de la mascota" required>
            </div>
            <div class="form-group">
                <label for="peso">Peso:</label>
                <input type="number" id="peso" th:field="*{peso}" class="form-control" placeholder="Ingresa el peso de la mascota" required>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" id="tiene_chip" th:field="*{tiene_chip}" class="form-check-input">
                <label class="form-check-label" for="tiene_chip">Tiene Chip</label>
            </div>
            <div class="form-group">
                <label for="url_foto">URL de la Foto:</label>
                <input type="text" id="url_foto" th:field="*{url_foto}" class="form-control" placeholder="Ingresa la URL de la foto" required>
            </div>
            <div class="form-group">
                <label for="owner">Propietario:</label>
                <select id="owner" th:field="*{owner}" class="form-control" required>
                    <option th:each="owner : ${owners}" th:value="${owner.id}" th:text="${owner.name}"></option>
                </select>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Añadir Mascota</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <a href="/" class="btn btn-secondary">Volver a la página principal</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
